<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] KuaforWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KuaforWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Randevus" asp-action="Index">KuaforWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Randevus" asp-action="Index">Randevus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                        </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Salons" asp-action="Index">Salons</a>
                            </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Suggestions" asp-action="Index">
                                <i class="fas fa-robot" style="margin-right: 5px;"></i> GEMİNİ AI
                            </a>
                        </li>
                        }
                        else{
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Suggestions" asp-action="Index">
                                    <i class="fas fa-robot" style="margin-right: 5px;"></i> GEMİNİ AI
                                </a>
                            </li>
                            }
                        
                    </ul>
                    <form class="d-flex" asp-controller="Account" asp-action="Logout" method="post">
                        <button class="btn btn-outline-success" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KuaforWeb 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>